In [1]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup
import re

import time
from tqdm import tqdm_notebook

#Function definitions

def extract_jobtitle_from_result(result):
    try:
        return result.find('a',attrs={'class':'jobtitle'})['title']
    except:
        return np.nan

def extract_location_from_result(result):    
    try:
        return result.find('span',attrs={'class':'location accessible-contrast-color-location'}).text
    except:
        return np.nan
        
def extract_salary_from_result(result):
    try:
        return result.find('span',attrs={'class':"salaryText"}).text.strip() 
    except: 
        return np.nan

def extract_company_from_result(result):
    try:
        return result.find('span',attrs={'class':"company"}).text.strip()  
    except:
        return np.nan
    
def extract_summary_from_result(result):
    try:
        return result.find('div',attrs={'class':re.compile(r'^jobsearch-jobDescriptionText?')})   
    except:
        return np.nan
    
def extract_href_from_result(result):
    try:
        return result.find('a')['href']   
    except:
        return np.nan

In [2]:
states_to_use = ['Queensland','New South Wales','Victoria','South Australia','Western Australia','Tasmania','Northern Territory']


list_of_searchwords = ['data+scientist','data+analyst','research+scientist','business+intelligence','machine+learning']

In [37]:
#Determining number of jobs per state,region, area etc

jobs_in_state = {'state':[],'role':[],'jobs':[]}

for state in tqdm_notebook(states_to_use):
    
    for role in list_of_searchwords:
    
        count_url = f'https://au.indeed.com/jobs?as_ttl={role}&jt=all&radius=5000&l={state}&fromage=any&limit=50&filter=0'

        time.sleep(np.random.randint(0,2))

        counter = requests.get(count_url)
        soup_count = BeautifulSoup(counter.text,'html.parser')
        
        if len(soup_count.find_all('div',class_='bad_query'))==1:
            
            pass
        
        else:

            try:
                record_string = soup_count.find_all('div',attrs={'id':"searchCountPages"})[0].text
                record_string = record_string.replace(",","")
                max_results_per_city = int(re.search(r"(\w+)\sjobs",record_string).group(1))

            except:
                max_results_per_city = np.nan

            #try:
                #true_pages = int(soup_count.find_all("span",class_="pn")[-2].text)
                #print(true_pages,max_results_per_city)

            #except:
                #true_pages = 0
                #print(true_pages)

            jobs_in_state['state'].append(state)
            jobs_in_state['role'].append(role)
            jobs_in_state['jobs'].append(max_results_per_city)

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [38]:
job_nums = pd.DataFrame(jobs_in_state).sort_values(by='jobs',ascending=False)

state_searchlist= job_nums.groupby(["state"]).mean().sort_values(by="jobs",ascending=True).index.to_list()
role_searchlist = job_nums.groupby(["role"]).mean().sort_values(by="jobs",ascending=True).index.to_list()
job_nums

                 state                   role  jobs
6      New South Wales           data+analyst   205
11            Victoria           data+analyst   105
5      New South Wales         data+scientist    77
1           Queensland           data+analyst    41
10            Victoria         data+scientist    37
8      New South Wales  business+intelligence    36
13            Victoria  business+intelligence    26
3           Queensland  business+intelligence    19
16     South Australia           data+analyst    16
9      New South Wales       machine+learning    13
12            Victoria     research+scientist    11
19   Western Australia         data+scientist    10
7      New South Wales     research+scientist     9
20   Western Australia           data+analyst     9
0           Queensland         data+scientist     9
18     South Australia  business+intelligence     5
4           Queensland       machine+learning     5
22   Western Australia  business+intelligence     3
14            Victoria       machine+learning     3
27  Northern Territory  business+intelligence     3
17     South Australia     research+scientist     2
21   Western Australia     research+scientist     2
2           Queensland     research+scientist     2
24            Tasmania           data+analyst     2
26  Northern Territory           data+analyst     2
15     South Australia         data+scientist     1
23            Tasmania         data+scientist     1
25            Tasmania       machine+learning     1

In [39]:
df_dict = {'job_title':[],'job_category':[],
           'company':[],'location':[],
           'region':[],'salary':[],
           'link':[],'summary':[]}

#url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 294 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

all_files = []

for state in tqdm_notebook(state_searchlist):

    for role in tqdm_notebook(role_searchlist):
        
        count_url = f'https://au.indeed.com/jobs?as_ttl={role}&jt=all&radius=5000&l={state}&fromage=any&limit=50&start=0&filter=0'

        time.sleep(np.random.randint(0,1))

        counter = requests.get(count_url)
        soup_count = BeautifulSoup(counter.text,'html.parser')
        
        if len(soup_count.find_all('div',class_='bad_query'))==1:
            
            pass
        
        else:     

            try:
                record_string = soup_count.find_all('div',attrs={'id':"searchCountPages"})[0].text
                record_string = record_string.replace(",","")
                max_results_per_city = int(re.search(r"(\w+)\sjobs",record_string).group(1))
            except:
                max_results_per_city = 1

            for start in tqdm_notebook(range(0, max_results_per_city,50)):
                time.sleep(np.random.randint(0,1))

                URL = f'https://au.indeed.com/jobs?as_ttl={role}&jt=all&radius=5000&l={state}&fromage=any&limit=50&start={start}&filter=0'

                results = requests.get(URL)
                soup = BeautifulSoup(results.text,'html.parser')

                #print(city,int(max_results_per_city))

                #print(state,start,soup.find_all('div',attrs={'id':"searchCountPages"})[0].text)

                if len(soup.find_all('span',attrs={'class':'salary no-wrap'})) == 0:

                    pass

                else:
                    for jobtile in soup.find_all('div',attrs={'class':re.compile(r'^jobsearch-Serp.*unified.*')}):

                        if len(jobtile.find_all('span',attrs={'class':'salary no-wrap'})) == 0:
                            pass
                        else:
                            all_files.append(jobtile)
                            df_dict['job_category'].append(" ".join(role.split("+")).title())
                            df_dict['region'].append(" ".join(state.split("+")).title())

                            detail_link = "https://au.indeed.com/"+extract_href_from_result(jobtile)
                            df_dict['link'].append(detail_link)
                            time.sleep(np.random.randint(0,1))
                            detailgrab = requests.get(detail_link)
                            soup_detail = BeautifulSoup(detailgrab.text,'html.parser')

                            try:
                                df_dict['summary'].append(extract_summary_from_result(soup_detail).text)
                            except:
                                df_dict['summary'].append(np.nan)

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

In [40]:
for x in all_files:
    try:
        df_dict['location'].append(extract_location_from_result(x))
    except:
        df_dict['location'].append(np.nan)
        
    try:
        df_dict['company'].append(extract_company_from_result(x))
    except:
        df_dict['company'].append(np.nan)
        
    try:
        df_dict['salary'].append(extract_salary_from_result(x))
        
    except:
        df_dict['salary'].append(np.nan)

    try:
        df_dict['job_title'].append(extract_jobtitle_from_result(x))
        
    except:
        df_dict['job_title'].append(np.nan)

In [41]:
df = pd.DataFrame(df_dict)

np.sum(df[df.salary.notna()].duplicated() ==False)*100/df.shape[0]

#df = df[df.salary.notna()]

#df = df[df.duplicated()==False]

df.to_csv("aus_jobs.csv",index=False)

In [42]:
df[df.duplicated()==False]

,job_title,job_category,company,location,region,salary,link,summary
0,Behavioural Research Scientist - Brain Perform...,Research Scientist,CSIRO,Adelaide SA,South Australia,"$98,000 - $106,000 a year",https://au.indeed.com//rc/clk?jk=bb7ad50949972...,The Opportunity\nHelp improve health outcomes ...
1,PERMANENT SSO4 - OPEN ACCESS COLLEGE - STUDENT...,Business Intelligence,Department for Education and Child Development...,Marden SA,South Australia,"$78,790 - $82,429 a year",https://au.indeed.com//rc/clk?jk=c7f13ed242366...,Position Descriptor:\nPlease note the salary a...
2,Data Analyst,Data Analyst,Data Driven Analytics,Adelaide SA,South Australia,$60 - $80 an hour,https://au.indeed.com//company/Data-Driven-Ana...,We are in the search for a Data Analyst who ha...
3,Data Analyst,Data Analyst,SoftLabs Pty Ltd,Adelaide SA,South Australia,$60 - $75 an hour,https://au.indeed.com//company/SoftLabs-Pty-Lt...,SoftLabs is looking for a Data Analyst to join...
4,Data Analyst,Data Analyst,Finite IT,Adelaide SA,South Australia,$75 - $85 an hour,https://au.indeed.com//rc/clk?jk=84c2205e8ec55...,Finite is Australia’s leading IT ‘recruiter of...
5,Senior Data Analyst,Data Analyst,Finite IT,Adelaide SA,South Australia,"$140,000 - $160,000 a year",https://au.indeed.com//rc/clk?jk=4da90e24621e8...,Finite is Australia’s leading IT ‘recruiter of...
6,Research Scientist in Global Change Ecology,Research Scientist,CSIRO,Perth WA,Western Australia,"$113,000 - $132,000 a year",https://au.indeed.com//rc/clk?jk=31d409a5af24e...,The Opportunity\nUndertake dynamic research fo...
7,ASTRO 3D Research Scientist in HI Surveys,Research Scientist,University Of Western Australia,Crawley WA,Western Australia,"$93,653 a year",https://au.indeed.com//rc/clk?jk=0ddb97c3ae555...,Faculty of Engineering and Mathematical Scienc...
8,Data Scientist,Data Scientist,Launch Recruitment,Perth WA,Western Australia,$591 a day,https://au.indeed.com//rc/clk?jk=7390bf433cadc...,Data Scientist - Perth - 6 Month Contract - Da...
9,Data Analyst,Data Analyst,Michael Page,Perth WA,Western Australia,"$85,000 - $100,000 a year",https://au.indeed.com//rc/clk?jk=7610946681a83...,Opportunity to work with emerging technology\n...
10,Data Analyst,Data Analyst,Finite IT,Perth WA,Western Australia,$60 - $75 an hour,https://au.indeed.com//rc/clk?jk=403b6389266e7...,Finite IT is seeking an experienced Data Analy...
11,Agricultural Environmental Research Scientist/...,Research Scientist,Integrity Ag and Environment Pty Ltd,Toowoomba QLD,Queensland,"$70,000 - $100,000 a year",https://au.indeed.com//company/Integrity-Ag-an...,About the roleFollowing the rapid growth in de...
12,Senior Research Scientist - Machine Learning f...,Research Scientist,CSIRO,Pullenvale QLD,Queensland,"$113,000 - $132,000 a year",https://au.indeed.com//company/CSIRO/jobs/Seni...,"*Apply your expertise in Machine Learning, 3D ..."
13,Senior Software Developer | Machine Learning,Machine Learning,PRA,Gold Coast QLD,Queensland,"$110,000 - $140,000 a year",https://au.indeed.com//rc/clk?jk=aa2a1bc7ec5cd...,Senior Software Developer\nAwesome organisatio...
14,Senior Research Scientist - Machine Learning f...,Machine Learning,CSIRO,Pullenvale QLD,Queensland,"$113,000 - $132,000 a year",https://au.indeed.com//company/CSIRO/jobs/Seni...,"*Apply your expertise in Machine Learning, 3D ..."
15,APS 6 - Business Intelligence Officer,Business Intelligence,Australian Government Department of Defence,Townsville QLD,Queensland,"$80,669 - $92,150 a year",https://au.indeed.com//rc/clk?jk=dc6e1556052df...,"$80,669 - $92,150 (plus super)\nTownsville, QL..."
16,Business Intelligence Partner,Business Intelligence,Townsville Catholic Education,Townsville QLD,Queensland,"$85,386 - $96,103 a year",https://au.indeed.com//rc/clk?jk=493cc420a9bb9...,Position: Business Intelligence Partner\nSalar...
17,Senior Business Intelligence Analyst,Business Intelligence,The University of Queensland,St Lucia QLD,Queensland,"$96,466 - $108,318 a year",https://au.indeed.com//rc/clk?jk=225df587a3d6a...,Future Students\nUQ’s Global Strategy is embed...
18,Business Intelligence Partner,Business Intelligence,Townsville Catholic Education,Townsville QLD,Queensland,"$85,386 - $96,103 a year",https://au.indeed.com//rc/clk?jk=590e6ecace15d...,Position: Business Intelligence Partner\nSalar...
19,Data Scientist,Data Scientist,Firesoft People,Brisbane QLD,Queensland,"$400 - $1,000 a day",https://au.indeed.com//rc/clk?jk=e3c5d7a3da30b...,Data Scientist\n\nRelocate to Sydney and join ...
20,Data Migration Analyst,Data Analyst,Mater,Brisbane QLD,Queensland,"$72,724 - $80,152 a year",https://au.indeed.com//rc/clk?jk=732d1a3621fed...,About the role\nMater Foundation’s Fundraising...
21,A06 Data Analyst (Insurance) - Queensland Gove...,Data Analyst,HOBAN Recruitment,Brisbane QLD,Queensland,$50 - $60 an hour,https://au.indeed.com//rc/clk?jk=e736119a3553d...,9 Month Assignment\n38 Hours Per Week | $59.95...
22,Senior Data Solution Analyst,Data Analyst,Talent International,Brisbane QLD,Queensland,"$120,000 - $135,000 a year",https://au.indeed.com//rc/clk?jk=8c9a513e65a15...,Job Details\nLocation\nBrisbane\nSalary\n$1200...
23,Business Process Analyst - Data Quality,Data Analyst,Peoplebank,Redland QLD,Queensland,$48.45 an hour,https://au.indeed.com//rc/clk?jk=8c7b3e5a44115...,Our client is seeking a Business Process Analy...
24,Research Scientist - Health AI Research Staff ...,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=78ae9c14f9dae...,Introduction\nCandidates will be joining a tea...
25,IBM Research Scientist – Blockchain Postdoc FT...,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=2d0c155fd069e...,Introduction\nIBM Research Scientist – Blockch...
26,IBM Research Scientist Data Scientist – Melbourne,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=6c02bb6797a35...,Introduction\nFrom landing the first astronaut...
27,IBM Research Scientist Data Scientist – Melbourne,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=fa90d45abfaa6...,Introduction\nFrom landing the first astronaut...
28,IBM Research Scientist -AI-NLP Melbourne,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=33834b442d069...,Introduction\nIBM Research Scientists are char...
29,Research Scientist - Health AI Postdoc FTH 24 ...,Research Scientist,IBM,Melbourne VIC,Victoria,"$89,250 a year",https://au.indeed.com//rc/clk?jk=9ec8af73fc701...,Introduction\nFrom landing the first astronaut...
...,...,...,...,...,...,...,...,...
135,Senior (Fraud) Data Analyst,Data Analyst,Decipher Bureau,Sydney NSW,New South Wales,"$160,000 - $190,000 a year",https://au.indeed.com//rc/clk?jk=baa293a3fbc5d...,Senior Fraud Data Analyst\nAttractive salary p...
136,Senior Actuarial / Data Analyst (Ref: 4580),Data Analyst,Enterprise IT Resources Pty Ltd,Hills District NSW,New South Wales,"$120,000 - $140,000 a year",https://au.indeed.com//rc/clk?jk=4361cd5c4f242...,The Company\nOur client is a reputable financi...
137,Technical Market Data Support Analysts,Data Analyst,Spark Recruitment,Sydney NSW,New South Wales,$650 - $680 a day,https://au.indeed.com//rc/clk?jk=d1d4908959cd3...,Market data analysis and data conversion (ETL)...
138,Junior Data Analyst,Data Analyst,2hats,Sydney NSW,New South Wales,$20 - $25 an hour,https://au.indeed.com//company/2hats/jobs/Juni...,If you are a data scientist or self-proclaimed...
139,Junior Data Analyst,Data Analyst,ActiveXchange,Darlinghurst NSW,New South Wales,"$45,000 - $50,000 a year",https://au.indeed.com//company/ActiveXchange/j...,"At ActiveXchange, we want to positively influe..."
140,Data Analyst (Research),Data Analyst,Hello Sunday Morning,Surry Hills NSW,New South Wales,"$70,000 - $85,000 a year",https://au.indeed.com//rc/clk?jk=3dc8486eecb58...,Data Analyst (Research)\nFlexible - Part Time ...
141,Data Analyst,Data Analyst,RateSetter Australia,The Rocks NSW,New South Wales,"$80,000 - $120,000 a year",https://au.indeed.com//rc/clk?jk=69af25eaeb5a8...,We are RateSetter\nOne of the world's largest ...
142,Data Analyst/Junior Data Scientist,Data Analyst,S2M,Sydney NSW,New South Wales,"$90,000 a year",https://au.indeed.com//rc/clk?jk=d6c629ec5ce64...,"This is your chance to join a dynamic, collabo..."
143,Data Modelling Analyst SQL/ Python - Pre-Trade...,Data Analyst,Westbury Partners,Sydney NSW,New South Wales,$100 an hour,https://au.indeed.com//company/Westbury-Partne...,"Our client, a leading financial institution re..."
144,Senior Data Analyst - Python,Data Analyst,Westbury Partners,Sydney NSW,New South Wales,$100 an hour,https://au.indeed.com//company/Westbury-Partne...,"Our client, a leading financial institution re..."
145,Junior Data Analyst,Data Analyst,Greythorn,Sydney NSW,New South Wales,$400 - $700 a day,https://au.indeed.com//rc/clk?jk=c11c2fa56ca7b...,Seeking ambitious/talented Data Analyst talent...
146,Junior Data Analyst,Data Analyst,Experis,Sydney Central Business District NSW,New South Wales,$400 - $700 a day,https://au.indeed.com//rc/clk?jk=7fc8e6a1635d1...,Seeking ambitious/talented Data Analyst talent...
147,Data Mapping Officer / Data Analyst - 6+ month...,Data Analyst,AC3,Sydney NSW,New South Wales,$40 an hour,https://au.indeed.com//rc/clk?jk=38ad663829670...,6+ month contract in a growing organisation\nA...
148,Data and Reporting Analyst,Data Analyst,Finite IT,Sydney NSW,New South Wales,$50 - $60 an hour,https://au.indeed.com//rc/clk?jk=7add06be1ccb9...,Data & Reporting Analyst\nUrgent 6 month requi...
149,Data Analyst,Data Analyst,Just Digital People,Sydney NSW,New South Wales,"$90,000 - $100,000 a year",https://au.indeed.com//rc/clk?jk=026beb3469e16...,I'm working with a global agency that has a ne...
150,Data Analyst,Data Analyst,Just Digital People,Sydney NSW,New South Wales,"$90,000 - $100,000 a year",https://au.indeed.com//rc/clk?jk=0623340bd541b...,I'm working with a global agency that has a ne...
151,Data Analyst,Data Analyst,Just Digital People,Sydney NSW,New South Wales,"$90,000 - $100,000 a year",https://au.indeed.com//rc/clk?jk=6f932e6b740b2...,I'm working with a global agency that has a ne...
152,Spatial Data Analyst,Data Analyst,Finite IT,Sydney NSW,New South Wales,$90 - $100 an hour,https://au.indeed.com//rc/clk?jk=ad6d8269dc3ae...,Spatial Data Analyst\n\nContract until June 20...
153,Data Analyst - Supply Chain,Data Analyst,Sharp & Carter,Parramatta NSW,New South Wales,"$100,000 - $120,000 a year",https://au.indeed.com//rc/clk?jk=ec109fd466d0d...,About the company\nASX listed retail organisat...
154,Data/Business Analyst,Data Analyst,Total Resource Solutions,Eveleigh NSW,New South Wales,$500 - $600 a day,https://au.indeed.com//rc/clk?jk=4e26a4b625b28...,Data/Business Analyst\n\nWork with key stakeho...
155,"Data Analyst – Governance Specialist, Sydney",Data Analyst,Hydrogen Group,Sydney NSW,New South Wales,"$80,000 - $110,000 a year",https://au.indeed.com//rc/clk?jk=545c0e51fc23a...,About Our Client:\n\nOur client is an Australi...
156,Senior Data Analyst,Data Analyst,Finite IT,Sydney NSW,New South Wales,$600 - $750 a day,https://au.indeed.com//rc/clk?jk=8c3b4a0a3e0a5...,Senior Data Analyst / Data Scientist | SAS | R...
157,Senior Analyst - Data Science,Data Analyst,Bluefin Resources,Sydney NSW,New South Wales,"$110,000 - $120,000 a year",https://au.indeed.com//rc/clk?jk=ab0006d70abc9...,Join one of Australia's leading financial serv...
158,Business Analyst - Data Focused,Data Analyst,Agile Talent,Sydney NSW,New South Wales,$600 - $700 a day,https://au.indeed.com//rc/clk?jk=579c3e8919413...,I am looking for a Business Analyst who has ex...
159,Data Analyst | Boutique Market Research Agency,Data Analyst,CCInternational Recruitment,Sydney NSW,New South Wales,"$55,000 - $60,000 a year",https://au.indeed.com//rc/clk?jk=07452588937f4...,We’re looking for a Data Analyst to work acros...
160,Data Business Analyst,Data Analyst,Finite IT,Northern Beaches NSW,New South Wales,$650 - $750 a day,https://au.indeed.com//rc/clk?jk=e33067b22827c...,FinXL IT Professional Services is an establish...
161,Senior Data Analyst. Mortgages. Non-bank,Data Analyst,Point Recruitment,Sydney NSW,New South Wales,"$110,000 - $140,000 a year",https://au.indeed.com//rc/clk?jk=78151cfc98816...,Senior Data Analyst reporting to Head of Lendi...
162,HR Data Analyst,Data Analyst,Messina Talent,Sydney NSW,New South Wales,"$80,000 - $100,000 a year",https://au.indeed.com//rc/clk?jk=458ae9347277b...,Key responsibilities:\n55% HR Reporting; 25% t...
163,Senior Business Analyst | Data Migration | SQL...,Data Analyst,Silk Recruitment,Sydney NSW,New South Wales,$850 a day,https://au.indeed.com//rc/clk?jk=fcf0bb52d7c8b...,Senior Business Analyst | Data Migration/Integ...
164,Business Analyst - Big 4 Bank - Data Privacy,Data Analyst,Bluefin Resources,Sydney NSW,New South Wales,$800 - $950 a day,https://au.indeed.com//rc/clk?jk=5699c48759939...,Seeking a proven Business Analyst with experie...